@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

body {  
  background-color: #F9EEEE;
  font-family: Nunito;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4{
  margin: 0.2em 0;
}

h2{
  border-bottom: 1px solid #434242;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ----------- Utilities ---------------------------------*/

.container{
  max-width: 1050px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.block {
  display: block;
  padding: 1em;
  margin: 1em;
}

.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-3{
  grid-template-columns: repeat(3, 1fr);
}

.card{
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.btn{
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
}

.btn:hover{
  transform: scale(.98);
}

.btn-outline{
  background-color: transparent;
  border: 1px #fff solid;
}

.sec1, .sec2 {    
  background-color: #F9EEEE;
  /* border-bottom: 1px solid #434242; */
  width: 100%;
  overflow: hidden;
  margin: 1em auto;
}

.sec2 {
  background-color: #ECE4E4;  
}

/*------------- Navbar Component----------------------------------- */

nav{  
  display: flex;
  font-family: Ubuntu;
  justify-content: space-between;
  margin: 0 auto;
  height: 4em;
  font-weight: 400;
  margin: 2em 0;
}

.Logo a{  
  font-size: 1.1em;
  text-decoration: none;
  font-weight: 400;
  color: #434242;
}

.NavLinks {  
  display: flex;
  width: 40vw;
  height: 1em;
  font-size: 1em;
  list-style: none;
}

.NavLinks li{
  padding: 0.5em 2em;
  margin: 0 auto;
  height: 1em;
}

.NavLinks a {
  text-decoration: none;
  color: #7C7A7A;
}

.NavLinks a:hover, .pageactive{
  padding: 1em 0;
  border-bottom: 1px solid #7698F0;
  color: #83a1ee;  
}

/* ---------------- Main Intro Section ---------------------------------*/

.intro{
  grid-template-columns: 1fr 3fr 2fr;
}

.intro-social{  
  flex-direction: column; 
  animation: slideInFromLeft 0.5s ease-in;  
}

.intro-social a{
  font-size: 0.75em;
  margin: 0.2em;
  text-decoration: none;
  color: #646464;
  padding: 0.5em;
}

.intro-social a:nth-last-child(1){
  border: 1px solid #646464;
  padding: 0.5em 0.6em;
  border-radius: 50%;
}

.main-intro{
  font-size: 1.4em;  
  animation: slideInFromLeft 0.5s ease-in;
  color: #535353;
}

.profile-pic img{
  animation: slideInFromRight 0.5s ease-in;
  border-radius: 50%;
  width: 16em;
  height: 16em;
  margin: 7em;
  z-index: 1;
}

/* ---------------- Achievements ---------------------------------------*/

.achievements{
  padding: 3em 0;
  flex-direction: column;
  justify-content: center;
}

.achieve{
  place-items: center;  
}

.avatar img{
  width: 20em;
  height: 20em;
}

.achievements-text p{
  padding: 1em;
  margin: 0.3em 1em;
  position: relative;
}

.achievements-text p::before{
  font-family: 'Font Awesome 5 Free';
  content: '\f058';
  position: absolute;
  left: -1em;
  top: 1.2em;
  color: #666877;   
}

/* ---------------- Past_experience ------------------------------------*/

.past-exp{
  flex-direction: column;  
  padding: 1em;
}

.past-exp h3{
  border-bottom: 1px solid #333;  
}

/* ---------------- Accordian  ------------------------------------------*/

.outer_shell{  
  flex-direction: column;
  margin: 2em;
}

.accordian{
  background-color: #e4f0f1;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  grid-template-columns: 2fr 4fr 1fr;
  /* place-items: center;                 --> Centers anything inside a grid container*/        
  position: relative;
  width: 90%;
  margin: 0.3em;
}


.accordian p:nth-child(1){
  padding: 2.5em;
  display: flex;
  align-self: flex-start;
}


.accordian button
{
  background-image: url(./assets/down.svg);
  position: absolute;
  border: none;
  width: 1.3em;
  height: 1.3em;
  color: #333;
  top: 4em;
  right: 5em;
  outline: none;  
  cursor: pointer;
  /* display: inline;   */
}

.accordion_rotated_btn{
  background-image: url(./assets/up.svg) !important;
}

.accordion_contents{
  height: fit-content;  
  transition: height 0.6s ease-in;
}

.accordion_nocontents{
  display: none;
  transition: height 0.6s ease-in;
}

.accordion_contents h5{
  margin: 0.5em 0;
  color: #524d4d;
  background-color: #e0dddd;
  border-radius: 5px;
  padding: 5px;
}

.accordion_contents p{
  color: #222020;
}

.tweets{
  flex-direction: column;
  padding: 1em;
}

.tweets h2{
  margin: 1em 0;
}

.footer{
  width: 100%;
  padding: 5em;
  background-color: #333;
}

.footer .container {
  grid-template-columns: 4fr 2fr;
  gap: 10em;
}

.footer-nav{
  margin: 0;
  width: 100%;
  justify-content: space-around;
  height: fit-content;
}

.footer-links li{
  list-style: none;
  width: 12em;
  padding: 6px;
} 

.footer-links li:hover{
  background-color: #524d4d;
  border-radius: 4px;
} 

.footer-links a {
  text-decoration: none;
  color: #e4f0f1;
}

.social-links{
  align-items: flex-start;
}

.social-links li{
  font-size: 1.3em;
  cursor: pointer;
  list-style: none;
  margin: 0.5em;
}
.social-links a{
  color: #dad3d3;
}
.social-links a:hover{
  color: #c4bebe;
}

.separator{
  background: #dad3d3;
  border: none;
  height: 1px;
  margin-top: 3em;
  margin-bottom: 0;
}

/* ---------------- Animations  ------------------------------------------*/

@keyframes slideInFromLeft {
  0% {
      transform: translateX(-100px);
  }
  100% {
      transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
      transform: translateX(100px);
  }
  100% {
      transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
      transform: translateY(-100px);
  }
  100% {
      transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  0% {
      transform: translateY(100px);
  }
  100% {
      transform: translateY(0);
  }
}